@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__logo {
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 40px;
}
.header__logo span {
  color: #4bcaff;
}
.header__body {
  margin-bottom: 50px;
}
.header__list {
  background: #35444f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.header__item {
  color: #ffffff;
  padding: 26px 38px 19px 38px;
  border-left: 1px solid white;
}
.header__list li:hover {
  background: #222f3a;
}
.header__last_item {
  border-right: 1px solid white;
}
.header__list a {
  font-size: 24px;
  line-height: 28px;
}
main {
  margin-bottom: 54px;
}
.main__body {
  display: flex;
}

.body__nav {
  margin-right: 52px;
}

.body__nav ul {
  display: flex;
  width: 344px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
}

.body__nav li:hover {
  color: #000000;
  padding-left: 70px;
  background: #dbdbdb;
}

.body__nav_item {
  flex-grow: 1;
}

.body__nav li {
  font-size: 27px;
  line-height: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 44px;
  color: #485863;
  transition: 0.5s;
}

.body__image {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  height: 529px;
  width: 885px;
  margin-bottom: 37px;
}
.body__image img {
  justify-content: center;
  width: 320px;
  margin: auto;
}
.body__text p {
  font-size: 18px;
  line-height: 1.33;
  color: #2c2c2c;
}

.tittle1 {
  margin-bottom: 34px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  align-items: center;
  padding: 20px 40px;
  font-size: 28px;
}
.footer__list {
  display: flex;
}
.footer__list li {
  margin-right: 25px;
}
.footer__list a {
  color: #0c1927;
  border-bottom: thick rgba(0, 0, 0, 0);
}
.footer__list a:hover {
  color: #3181a6;
  border-bottom: solid #3181a6;
}

.Copyright {
  font-size: 24px;
  line-height: 100%;
  justify-self: end;
}
